<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}

    <p>CURRENTLY APP IS UPDATING PLEASE COME BACK AFTER SOME TIME </p>
    {{> footer}}
  </body>
</html>
